h2 {
  border-bottom-style: solid;
  text-align: center;
}

img {
  display: block;
  box-sizing: border-box;
  width: 50%;
  margin: 30px auto 30px auto;
}

footer {
  text-align: center;
  height: 50px;
}

footer p {
  color: gray;
  padding: 10px;
}