h2 {
  border-bottom-style: solid;
  text-align: center;
  padding-bottom: 10%;
}

img {
  display: block;
  box-sizing: border-box;
  width: 30%;
  margin: 30px auto 30px auto;
}

#sideimg {
  width: 70%;
}

#home {
  margin: 0;
  margin-left: 20%;
}

footer {
  text-align: center;
  height: 50px;
}

footer p {
  color: gray;
  padding: 10px;
}

#sticky {
  top: 20%;
  height: 70vh;
  border-right-style: solid;
  border-color: lightgray;
}